.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 0px 40px 0px;
  font-family: 'Raleway', sans-serif;
}
#heading {
  font-weight: bold;
  color: #3f51b5;
  text-decoration: underline;
  margin-top: 5px;
}
.digit {
  font-family: 'Poppins', sans-serif;
  font-weight: 900;
  color: green;
  padding: 0px 10px 0px 10px;
}
.stage {
  font-weight: 900;
  background: linear-gradient(180deg,rgba(255,255,255,0) 65%, #eef0fd 65%);  
}
.paper-container {
  display: flex;
  justify-content: center;
  align-items: center;  
  width: 800px;
}
.paper-stage {
  display: flex; 
  padding: 20px;
  margin: 20px 0px 20px 0px;
}
.bottom-arrow {
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-bottom: 0px;
}